html {
    min-width: 925px;   
}

.mobile {
    display :none;
}



a {
    text-decoration: none;
}

h1, p, span {
    font-weight: normal;
    color: white;
}

.arrow {
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    right: 15%;
    top: calc(50% - 7px);
}

.section-title, .section-body, .section-footer.main {
    text-align: left;
    display: block; 
}

section {
    text-align: center;
}

section > .contents {
    display: inline-block;
    max-width: 900px;
    text-align: left;
    padding: 20px;
}


header > section > ul.menu {
    text-transform: uppercase;

}

header > section > ul.menu a {
    color: #585952;
    
}

header > section > ul.menu {
    list-style-type: none;
    padding: 0;
    display: inline;
    vertical-align: bottom;
}

header > section > ul.menu > li {
    display: inline;
    padding: 0 15px;
    vertical-align: bottom;
}

header {
    vertical-align: bottom;
    padding: 15px 5px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 16px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 16px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 16px -3px rgba(0,0,0,0.75);
}

header > section > img {
    vertical-align: bottom;
}

html {
    text-align: center;
}



#main-content > section:nth-child(1) {
    
    background-image: url("../img/slide-bg-complexity.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
}


button {
    background-color: #0095C5;
    color: white;
    padding: 10px 50px 8px 10px;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    position: relative;
    outline: none;
    cursor: pointer;
}


#boxes > article {
    color: white;
    font-size: 20px;
    width: 29%;
    display: inline-block;
    opacity: 0.8;
    padding: 0px 1% 15px 1%;
    margin: 0 1%;
    border-radius: 5px;
    text-align: left;
}

#boxes > article > a {
    color: white;
    font-size: 14px;
}

#boxes > article:nth-child(1) {
    margin-left: 0;
    background: #FB368F;
}

#boxes > article:nth-child(2) {
    background: #5DC14D;
}

#boxes > article:nth-child(3) {
    background: #FF702C;
}

section#boxes {
    margin-top: 50px;
    
}

#main-content > section:nth-child(2) {
    background: rgb(0,160,195); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,160,195,1) 0%, rgba(45,185,211,1) 50%, rgba(0,160,195,1) 95%, rgba(0,160,195,1) 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,160,195,1)), color-stop(50%,rgba(45,185,211,1)), color-stop(95%,rgba(0,160,195,1)), color-stop(97%,rgba(0,160,195,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,160,195,1) 0%,rgba(45,185,211,1) 50%,rgba(0,160,195,1) 95%,rgba(0,160,195,1) 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,160,195,1) 0%,rgba(45,185,211,1) 50%,rgba(0,160,195,1) 95%,rgba(0,160,195,1) 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,160,195,1) 0%,rgba(45,185,211,1) 50%,rgba(0,160,195,1) 95%,rgba(0,160,195,1) 97%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,160,195,1) 0%,rgba(45,185,211,1) 50%,rgba(0,160,195,1) 95%,rgba(0,160,195,1) 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0c3', endColorstr='#00a0c3',GradientType=0 ); /* IE6-9 */
      
}


#solutions > article.solution {
    display: inline-block;
    width: 14%;
    color: white;
    text-align: center;
    margin: 0 1% 0 1%;
    
}


#main-content > section:nth-child(3) {

    background-image: url("../img/news-and-events-bg.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
}

#main-content > section:nth-child(3) > .contents > .section-body > article {
    display: inline-block;
    width: 30%;
    margin: 0 1.5% 0 1.5%;
    
    
}


#main-content > section:nth-child(3) > .contents > .section-body > article > .description {
    background: white;
    opacity: 0.8;
    color: black;
    float: left;
    padding: 10px;
    font-size: 15px;
    
}

#main-content > section:nth-child(3) .description > img {
    float: left;   
    margin-right: 10px;
}


#main-content > section:nth-child(3) .footer {
    color: white;
    font-size: 14px;
    display: inline-block;
    margin: 10px 5px 5px 0;
}


#main-content > section:nth-child(4) {
    background: #ECECEC;  
    
}

#main-content > section:nth-child(4) > .contents > .section-title > h1 {
    color: #565656;
    text-align: center;   
}

#main-content > section:nth-child(4) .column {
    width: 31%;
    margin: 0 1% 0 1%;
    display: inline-block;
    vertical-align: bottom;
    
}

#main-content > section:nth-child(4) .column > article {
    display: inline-block;
    padding: 15px 1% 2% 2%;
    background: white;
    color: #565656;   
}

#main-content > section:nth-child(4) .column > article a {
    color: #00AFDA;
    font-size: 14px;
}


#main-content > section:nth-child(4) .column > article img:first-child {
    float: left; 
    margin-right: 10px;
}

div.quote {
    background-image: url("../img/quote-grey.png");   
    display: inline-block;
    width: 27px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 5px 0 0px;
}

#main-content > section:nth-child(4) .column > article span {
    color: #565656;
    font-size: 14px;
}

.logos > .company.col-3 {
    width: 31.2%;
    float: left;
    display: inline-block;
    height: 100px;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 1%;
    margin-right: 1%;
    background: white;
}


.logos:last-child > .company.col-3 {
    margin-bottom: 0;
}

.logos:first-child > .company.col-3 {
    margin-top: 0;
}


.logos > .company.col-2 {
    width: 48%;
    float: left;
    display: inline-block;
    height: 100px;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 1%;
    margin-right: 1%;
    background: white;
}
.company.col-3 {
    float: left;
    display: inline-block;
}



.logos:last-child > .company.col-2 {
    margin-bottom: 0;
}

.logos:first-child > .company.col-2 {
    margin-top: 0;
}


footer.main {
    background-color: #292928;
    color: white;
}

footer.main > section#menus {
    display: inline-block;
    width: 70%;
    max-width: 700px;
    vertical-align: top;
    margin-top: 20px;
}

footer.main > section#menus > .menu > span.menu-title {
    font-size: 17px;
    display: inline-block;
    padding-bottom: 15px;
}

footer.main > section#menus > .menu {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0 15px;
}

footer.main > section#menus > .menu > ul {
    list-style-type: none;
    padding: 0;
    display: inline;
    vertical-align: top;
}

footer.main > section#menus > .menu > ul > li {
    font-size: 13px;
}

footer.main > section#menus > .menu > ul > li > a{
    color: white !important;
}

footer.main > section#latest-posts {
    display: inline-block;
    background: #3C3C3C;
    width: 25%;
    max-width: 250px;
}

footer.main > section#latest-posts > section {
    display: block;
}

footer.main > section#latest-posts h2 {
    color: #1FAAD0;
    font-size: 16px;
}

footer.main > section#latest-posts > section#latest-blog-posts {
    padding: 10px 0 10px 10px;   
}

footer.main > section#latest-posts > section#latest-blog-posts p {
    text-align: left;
    
}

footer.main > section#latest-posts > section#latest-blog-posts img {
    margin-right: 15px;
    float: left;

}


footer.main > section#latest-posts hr {
    width: 90%;
    margin:auto;
}

footer.main > section#latest-posts > section#subscribe > div#signup {
    height: 35px;   
    display: block;
    
}

footer.main > section#latest-posts > section#subscribe input {
    width: 60%;
    height: 100% ;
    padding: 0;
    line-height: 100%;
    padding-left: 5px;
    margin: 0;
    border: none;
    display: inline;
    color: #585952;
}

footer.main > section#latest-posts > section#subscribe button {
    width: 30%;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    display: inline;
    height: 100% ;
}


footer.main > section#latest-posts > section#social-links {
    padding: 30px 0 15px 10px;
    display: block;
    text-align: left;
}

footer.main > section.copyright {
    display: block;
    color: #727272;
    font-size: 14px;
    
}

footer.main.main > section.copyright > *{
    color: #727272 !important;
}

@media(max-width: 700px) {


    html {
        min-width: 0;
        overflow-x: hidden;
    } 

    .main {
        display: none;
    }

   header.mobile {
        display: block;
        position: relative;
        padding: 0 0 15px 0;
    }

   header.mobile > img {
        width: 110px;
    }

   header.mobile > a#open_mobile_menu,header.mobile > a.search {
        position: absolute;
        bottom: calc(50% - 10px);
        background-size: 67% 67%;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        top: 10px;
        background-position: center; 
        border: 1px #d9d9d9 solid;
    }

   header.mobile > a#open_mobile_menu {
        background-image: url('../img/hamburger-icon.png');
        left: 10px;
    }

   header.mobile > a.search {
        background-image: url('../img/searchBtnMobile.png');
        right: 10px;
    }

    section > .contents {
        padding: 0; 
        width: 100%;
        max-width: 100%;
    }

    .section-title, .section-body, .section-footer.main {
        text-align: left;
        display: block; 
    }

    .section-title, .section-body {
        padding-left: 10px;
        padding-right: 10px;
    }

    #main-content > section:first-child {
        background-size: auto 100%;
    }

    #main-content > section:first-child .section-title {
        background: #0095C5;
        opacity: 0.7;  
        padding-top: 10px;
        padding-bottom: 10px;

    }

    #main-content > section:first-child .section-body {
        background: #0095C5;
        opacity: 0.7; 
    }

    #main-content > section:first-child .section-body p {
        margin: 0;
    }

    #boxes > article {
        width: 100%;
        padding-top: 10px;
        margin-top: 10px;
        display: block;
        margin-left: 0;
    }   

    #boxes > article:first-child {
        margin-top: 0;
    }


    #solutions > article.solution {
        display: inline-block;
        width: 32%;
        margin: 0; 
    }

    #main-content > section:nth-child(2) .section-footer.main button {
        display: none;
    }

    #main-content > section:nth-child(2) .section-title, #main-content > section:nth-child(3) .section-title {
        text-align: center;
    }

    #main-content > section:nth-child(3) {
        background-size: auto 100%;
    }

    #main-content > section:nth-child(3) > .contents > .section-body > article {
        display: block;
        width: 95%;
        margin: auto;
    }

    #main-content > section:nth-child(3) h1 {
        margin-bottom: 0;
    }

    #main-content > section:nth-child(3) > .contents > .section-body > article > .description {
        opacity: 0.6;
    }

    #main-content > section:nth-child(4) .column {
        width: 98%;
        margin: auto;
        display: block;
    }

    #main-content > section:nth-child(4) > .contents > .section-title > h1 {
        font-size: 25px;
    }

   footer.mobile {
        display: block;
        background: black;
    }

   footer.mobile ul li a,footer.mobile ul li span {
        text-transform: uppercase;
        color: white;
        text-decoration: none !important;
        font-weight: normal;
        font-size: 12px;
    }

   footer.mobile ul li {
        list-style-type: none;
        margin-top: 2px;
        text-align: left;
        background: #1f1f1f;
        padding: 10px 10px;
        border: 1px #292929 solid;
    }

   footer.mobile ul li:first-child {
        margin-top: 0;
    }

   footer.mobile ul {
        padding-left: 0px;
        margin-bottom: 0;
    }

   footer.mobile ul li img {
        display: inline-block;
        margin-left: 10px;
    }

   footer.mobile section.copyright {
        display: block;
        background: white;
        padding: 0;
        margin: 0;
    }

   footer.mobile section.copyright > * {
        color: #282828;

    }

}

